html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.BookmarkButton {
  background: transparent;
  background-image: url('../Bookmarked.png');
  height: 20px;
  width: 20px;
  border: none;
  padding: 0px;
  text-align: center;  
  float: right;
  border-radius:2px;
  margin: 10px;
}

.unBookmarkButton {
  background: transparent;
  background-image: url('../UnBookmarked.png');
  height: 20px;
  width: 20px;
  border: none;
  padding: 0px;
  text-align: center;  
  float: right;
  border-radius:2px;
  margin: 10px;
}