@{
    ViewData["Title"] = "Shitcoin Analysis";
}

<div class="text-center">
    <h1>Shitcoin analysis API</h1>
    <p>Try out an example endpoint at: <a href="/api/hello"><code>/api/hello</code></a>.</p>
</div>
