<div>
  <canvas id="myChart"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const labels = [];
    const values = [];
</script>
@foreach (var item in Model) {
    <script>labels.push("@item.label");</script>
    <script>values.push(@item.value);</script>
}
<script>
  const data = {
    labels: labels,
    datasets: [{
      label: 'Pupularity',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      data: values,
    }]
  };

  const config = {
    type: 'line',
    data: data,
    options: {}
  };
</script>
<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>